* {
  box-sizing: border-box;
}
body{
  text-align: center;
  justify-content: center;

}
.grid-container{
  display: flex;
}


.grid{
  display: flex;
  justify-content: space-between;

}

.col{
  justify-content: space-between;
}

.navbar ul{
  list-style-type:none;
  padding:0px;
  margin:0px;
 
}

.navbar a{
  color:#00ad6a;
  text-decoration: none;
  padding:15px;
  display: block;
  text-align: center;
}
.navbar a:hover{
  color: #080c16;
}

.navbar .nav{
  float:left;

}
.nav{
  /*position:absolute;*/
  right:70px;
  top:100px;
}

.top{
 width: 100vw;
 height: 60vh;
  background-image: url(/public/images/pool-overview.png);
  background-repeat: no-repeat;
  background-size: 100vw 60vh;
}

.search-form{
  top:100px;
}

footer{
  margin-top: 200px;
}

.login-img{
height: 500px;
width: 400px;
}

.grid-item-details{
  padding: 50px;
  padding-top: 15px;
  background-color: #2468ab;
  height: 500px;

}

.login-form{
  padding: 100px;
}

input{
  margin-top: 25px;
  padding: 16px;
  border-radius: 11px;
  border:none;
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.form-card{
  border-radius: 13px;
  background-color: #ffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 450px;
  width: 500px;
}

.link-card{
  margin-top: 10px;
}

.login-btn{
  margin-top: 10px;
  margin-bottom: 10px;
}

.logo{
  left:50px;
}

h1{
  color: #082861;
}

.signup-box{
  border-radius: 13px;
  background-color: #ffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 450px;
  width: 500px;
}